#colab-hero {
    margin-right: 20px;
    display: block;
    align-self: center;
    text-align: center;
    width: 170px;
    height: 16px;
}
.colab-root {
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    padding: 15px 8px;
    border-radius: 4px;
    font-size: 12px !important;
    text-decoration: none;
    color: rgb(87, 87, 87);
    border: none;
    font-weight: 300;
    border: solid 1px rgba(0, 0, 0, 0.08);
      border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    line-height: 16px;
}
span.colab-span {
    background-image: url(https://distill.pub/2020/growing-ca/images/colab.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 2px;
    display: inline-block;
    padding-left: 24px;
    border-radius: 4px;
    text-decoration: none;
}

span.git-span {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y: 0px;
    display: inline-block;
    padding-left: 18px;
    border-radius: 4px;
    text-decoration: none;
}
span.mail-span {
    background-image: url(website/other/email.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y: 0px;
    display: inline-block;
    padding-left: 18px;
    border-radius: 4px;
    text-decoration: none;
}